APP_NAME=mini-rag-app
APP_VERSION=0.1.0
LOCALE="en"

ASSET_ALLOWED_TYPES=["application/pdf","text/plain"]
ASSET_MAX_SIZE=10    # in MB
ASSET_CHUNK_SIZE=1048576  # in B

#=================mongodb config==========================

MONGODB_URL="mongodb://localhost:27007"
MONGODB_DATABASE="mini-rag-app" # database name

# Change the port if you use a different MongoDB port
# in Docker/docker-compose.yml.

#=================llm config======================
PROVIDER="OPENAI"
OPENAI_BASE_URL="https://openrouter.ai/api/v1"
OPENAI_BASE_API_KEY=

# Add your API key for the selected provider.


               
EMBEDDING_MODEL_ID="nvidia/nemotron-3-embed-1b:free"
EMBEDDING_DIM=2048
EMBEDDING_DISTANCE_METHOD="COSINE"

GENERATION_MODEL_ID="openrouter/free"
GENERATION_DAFAULT_INPUT_MAX_CHARACTERS=1000
GENERATION_DAFAULT_OUTPUT_MAX_TOKENS=1000
GENERATION_DAFAULT_TEMPERATURE=0.1

#=================vectorDB config===================
VECTOR_DB_PROVIDER="QDRANT"
VECTOR_DB_PATH="http://localhost:63336"
VECTOR_DB_DISTANCE_METHOD="COSINE"

# Change the port if you use a different Qdrant port
# in Docker/docker-compose.yml.